{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('form') }}
{% endblock %}

{% block navbar %}
    {% include 'Navbar/navbarUser.html.twig' %}
{% endblock %}

{% block body %}
    <div class="form-new-item">
        {{ form_start(form) }}
        {{ form_widget(form) }}
            <button type="submit">Ajouter l'article !</button>
        {{ form_end(form) }}

    </div>
{% endblock %}

{% block footer %}
    {% include 'Footer/footerUser.html.twig' %}
{% endblock %}