{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('form') }}
{% endblock %}

{% block navbar %}
    {% include 'Navbar/navbarUser.html.twig' %}
{% endblock %}

{% block body %}
    <div class="card text-center">
        <div class="card-header">
            <h1>Ajouter un article</h1>
        </div>
        <div class="card-body">
            <h5 class="card-title">Veuillez rentrer les informations de l'article</h5>
            <div class="form-modifications">
                <div class="form-new-item">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                        <button type="submit">Ajouter l'article !</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'Footer/footerUser.html.twig' %}
{% endblock %}