@import "~bootstrap/scss/bootstrap";
@import "navbar";

body {
    background-color: #B0A8B9;
}



.card.text-center{
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
}

.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

.button-submit{
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}
